:root {
    --color-primary: #ed7b1d;
    --color-secondary: #0F3E68;
    --color-primary-dark: darken(var(--color-primary), 10%);
    --color-secondary-dark: darken(var(--color-secondary), 10%);
    --color-light: #fff;
}